* { 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.main { 
     width: 100%;
     overflow: hidden;
     background: linear-gradient(to right,#9c27b0,#8ecdff)
}

nav { 
    width: 90%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    font-size: 125%;
}

.logo { 
    flex-basis: 10%;
    
    
}

.logo img { 
    width: 160px;
    
}

.nav-links { 
    flex: 1;
    text-align: center;
}

.nav-links ul li { 
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}

.nav-links ul li a{ 
    color: #fff;
    text-decoration: none;
}

.singin-a:hover { 
    background: #0ca04e;
    color: white;
}

.singout-a:hover { 
    background: #0ca04e;
    color: white;
}
.singin-a { 
    color: #166aea;
    text-decoration:none ;
}
.singout-a { 
    color: #166aea;
    text-decoration:none ;
}
.signin a{ 
    border: 2px solid black;
    border-radius: 100px;
    padding: 0 20px;
    color:black;
    font-size: 20px;
    font-family: "Clarkson",Helvetica,sans-serif;
    text-align: center;
}

.signout a{ 
    border: 2px solid black;
    border-radius: 100px;
    padding: 0 20px;
    color: black;
    font-size: 20px;
    font-family: "Clarkson",Helvetica,sans-serif;
    text-align: center;
}

.signin-signout { 
    display: inline-block;
    margin-bottom:20px;
    padding: 0px 10px;
    display: flex;
    grid-gap: 16px;
  

}



hr { 
    margin-left: 15%; 
  
  }


h2 { 
    color: black;
    font-size: 50px;
    text-align: center;
    
}

.photomid{ 
    margin-left: 10%;
    padding-top: 15%;
} 

.words1  { 
color: rgb(255, 236, 236);

}

h3 { 
    font-size: 30px;
    color: rgb(80, 77, 77);
    text-align: right;
}

.main1 { 
   display: flex;
   position: relative;
}






.photomid2{ 
    margin-left: 10%;
    margin-top: 4%;
} 

.words2  { 
color:rgb(61, 60, 60);
padding-top: 5%;



}

h3 { 
    font-size: 30px;
    color: rgb(80, 77, 77);
    text-align: right;
}

.main2 { 
   display: flex;
   position: relative;
   background: #f0eeee;
   padding-bottom: 5%;
}







.photomid3{ 
    margin-left: 10%;
    padding-top: 4%;
} 

.words3  { 
    color: rgb(255, 236, 236);
    padding-left: 14%;
    padding-top: 5%;

}

h3 { 
    font-size: 30px;
    color: rgb(80, 77, 77);
    text-align: right;
   
}

.main3 { 
   display: flex;
  position: relative;
}









.photomid4{ 
    margin-left: 10%;
    margin-top: 4%;
} 

.words4  { 
color:rgb(61, 60, 60);
padding-top: 5%;



}

h3 { 
    font-size: 30px;
    color: rgb(80, 77, 77);
    text-align: right;
}

.main4 { 
   display: flex;
   position: relative;
   background: #f0eeee;
   padding-bottom: 5%;
}








.photomid5{ 
    margin-left: 10%;
    margin-top: 4%;
    
} 

.words5  { 
        color:rgb(61, 60, 60);
    padding-top: 5%;
    padding-left: 5%;


}

h3 { 
    font-size: 30px;
    color: rgb(80, 77, 77);
    text-align: right;
}

.main5 { 
   display: flex;
   position: relative;
 
   padding-bottom: 5%;
}


























p { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
    letter-spacing: normal;
    font-size: 25px;
    text-align: right;
    padding-right: 4%;
    
    
}

.bwords { 
    color: rgb(190, 29, 29);
    text-align: center;
    text-decoration: underline;
    font-size: xx-large;
}


.photoedit { 

    padding-left: 40%;
    padding-top: 1%;
  }

  
h5 { 
    font-family: "Open Sans","Noto Kufi Arabic","Arial",sans-serif;
    font-size: 17px;
    line-height: 1;
    letter-spacing: normal;
}
.footer-copyright { 
    color: rgb(204, 204, 204);
    text-align: center;
    width: 90%;
    
    bottom: 0;
    padding-left: 3%;

  
}





  